<a href="https://colab.research.google.com/github/joosk3R/python_ml_dl/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!git clone https://(joosk3R):(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)@github.com/(joosk3R)/(python_ml_dl).git

/bin/bash: -c: line 0: syntax error near unexpected token `('
/bin/bash: -c: line 0: `git clone https://(joosk3R):(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)@github.com/(joosk3R)/(python_ml_dl).git'

In [ ]:
train = pd.read_csv("/content/train.csv")

In [ ]:
test = pd.read_csv("/content/test.csv")
sample = pd.read_csv("/content/sample_submission.csv")

In [ ]:
test

         num_date_time  건물번호           일시  기온(C)  강수량(mm)  풍속(m/s)  습도(%)
0        1_20220825 00     1  20220825 00   23.5      0.0      2.2     72
1        1_20220825 01     1  20220825 01   23.0      0.0      0.9     72
2        1_20220825 02     1  20220825 02   22.7      0.0      1.5     75
3        1_20220825 03     1  20220825 03   22.1      0.0      1.3     78
4        1_20220825 04     1  20220825 04   21.8      0.0      1.0     77
...                ...   ...          ...    ...      ...      ...    ...
16795  100_20220831 19   100  20220831 19   22.5      0.0      0.9     84
16796  100_20220831 20   100  20220831 20   20.7      0.0      0.4     95
16797  100_20220831 21   100  20220831 21   20.2      0.0      0.4     98
16798  100_20220831 22   100  20220831 22   20.1      0.0      1.1     97
16799  100_20220831 23   100  20220831 23   19.1      0.0      0.1     99

[16800 rows x 7 columns]

In [ ]:
sample

         num_date_time  answer
0        1_20220825 00       0
1        1_20220825 01       0
2        1_20220825 02       0
3        1_20220825 03       0
4        1_20220825 04       0
...                ...     ...
16795  100_20220831 19       0
16796  100_20220831 20       0
16797  100_20220831 21       0
16798  100_20220831 22       0
16799  100_20220831 23       0

[16800 rows x 2 columns]

In [ ]:
train

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1_20220601 00,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28
1,1_20220601 01,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36
2,1_20220601 02,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88
3,1_20220601 03,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76
4,1_20220601 04,1,20220601 04,18.4,NaN,2.8,43.0,NaN,NaN,986.40
...,...,...,...,...,...,...,...,...,...,...
203995,100_20220824 19,100,20220824 19,23.1,NaN,0.9,86.0,0.5,NaN,881.04
203996,100_20220824 20,100,20220824 20,22.4,NaN,1.3,86.0,0.0,NaN,798.96
203997,100_20220824 21,100,20220824 21,21.3,NaN,1.0,92.0,NaN,NaN,825.12
203998,100_20220824 22,100,20220824 22,21.0,NaN,0.3,94.0,NaN,NaN,640.08
203999,100_20220824 23,100,20220824 23,20.7,NaN,0.1,95.0,NaN,NaN,540.24

In [ ]:
df = pd.DataFrame()

In [ ]:
df["date"] = train['일시'].apply(lambda x : int(x[0:8]))

In [ ]:
df

            data
0       20220601
1       20220601
2       20220601
3       20220601
4       20220601
...          ...
203995  20220824
203996  20220824
203997  20220824
203998  20220824
203999  20220824

[204000 rows x 1 columns]

In [ ]:
import pandas as pd

# Assuming you have a DataFrame called 'df' with a column named 'date' containing date values
# Convert the 'date' column to datetime type
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

# Create a new column 'is_weekend' indicating weekends as 1 and weekdays as 0
df['is_weekend'] = df['date'].dt.dayofweek // 5

# Output the modified DataFrame
print(df)

            data       date  is_weekend
0       20220601 2022-06-01           0
1       20220601 2022-06-01           0
2       20220601 2022-06-01           0
3       20220601 2022-06-01           0
4       20220601 2022-06-01           0
...          ...        ...         ...
203995  20220824 2022-08-24           0
203996  20220824 2022-08-24           0
203997  20220824 2022-08-24           0
203998  20220824 2022-08-24           0
203999  20220824 2022-08-24           0

[204000 rows x 3 columns]

In [ ]:
train_x['is_weekend']  =df["is_weekend"]
train_x['is_working_hour'] = train_x['time'].apply(lambda x: 1 if 7 <= x <= 21 else 0)

test_x['is_weekend']  =df["is_weekend"]
test_x['is_working_hour'] = test_x['time'].apply(lambda x: 1 if 7 <= x <= 21 else 0)

In [ ]:
train_x.head()

,건물번호,기온(C),강수량(mm),풍속(m/s),습도(%),전력소비량(kWh),month,day,time,is_weekend
0,1,18.6,0.0,0.9,42.0,1085.28,6,1,0,0
1,1,18.0,0.0,1.1,45.0,1047.36,6,1,1,0
2,1,17.7,0.0,1.5,45.0,974.88,6,1,2,0
3,1,16.7,0.0,1.4,48.0,953.76,6,1,3,0
4,1,18.4,0.0,2.8,43.0,986.40,6,1,4,0

In [ ]:
train_x.

,건물번호,기온(C),강수량(mm),풍속(m/s),습도(%),전력소비량(kWh),month,day,time,is_weekend,is_working_hour
0,1,18.6,0.0,0.9,42.0,1085.28,6,1,0,0,0
1,1,18.0,0.0,1.1,45.0,1047.36,6,1,1,0,0
2,1,17.7,0.0,1.5,45.0,974.88,6,1,2,0,0
3,1,16.7,0.0,1.4,48.0,953.76,6,1,3,0,0
4,1,18.4,0.0,2.8,43.0,986.40,6,1,4,0,0
5,1,17.2,0.0,2.1,46.0,1087.20,6,1,5,0,0
6,1,16.3,0.0,1.0,50.0,1314.72,6,1,6,0,0
7,1,17.4,0.0,1.3,50.0,1684.80,6,1,7,0,1
8,1,20.6,0.0,1.8,44.0,1976.16,6,1,8,0,1
9,1,23.2,0.0,1.7,41.0,2289.12,6,1,9,0,1
10,1,24.8,0.0,2.5,35.0,2683.20,6,1,10,0,1
11,1,26.3,0.0,2.7,31.0,2730.72,6,1,11,0,1
12,1,27.5,0.0,3.4,23.0,2665.92,6,1,12,0,1
13,1,28.3,0.0,4.2,22.0,2628.00,6,1,13,0,1
14,1,28.4,0.0,4.5,19.0,2630.40,6,1,14,0,1
15,1,28.3,0.0,4.4,19.0,2548.32,6,1,15,0,1
16,1,27.6,0.0,5.2,28.0,2490.72,6,1,16,0,1
17,1,27.1,0.0,3.4,30.0,2273.76,6,1,17,0,1
18,1,26.3,0.0,3.0,32.0,1972.32,6,1,18,0,1
19,1,24.3,0.0,2.7,39.0,1871.52,6,1,19,0,1
20,1,22.2,0.0,3.1,44.0,1753.92,6,1,20,0,1
21,1,20.7,0.0,2.6,53.0,1454.40,6,1,21,0,1
22,1,19.6,0.0,2.8,58.0,1175.52,6,1,22,0,0
23,1,18.9,0.0,1.9,65.0,1105.44,6,1,23,0,0

In [ ]:
bd = pd.read_csv("/content/building_info.csv")

In [ ]:
bd

    건물번호    건물유형    연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0      1    건물기타  110634.00   39570.00         -            -         -
1      2    건물기타  122233.47   99000.00         -            -         -
2      3    건물기타  171243.00  113950.00        40            -         -
3      4    건물기타   74312.98   34419.62        60            -         -
4      5    건물기타  205884.00  150000.00         -         2557      1000
..   ...     ...        ...        ...       ...          ...       ...
95    96  호텔및리조트   93314.00   60500.00         -            -         -
96    97  호텔및리조트   55144.67   25880.00         -            -         -
97    98  호텔및리조트   53578.62   17373.75         -            -         -
98    99  호텔및리조트   53499.00   40636.00         -            -         -
99   100  호텔및리조트   57497.84   40035.23         -            -         -

[100 rows x 7 columns]

In [ ]:
bd["건물유형"].value_counts()

건물기타       15
공공          8
대학교         8
백화점및아울렛     8
병원          8
상용          8
아파트         8
연구소         8
지식산업센터      8
할인마트        8
호텔및리조트      8
데이터센터       5
Name: 건물유형, dtype: int64

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204000 entries, 0 to 203999
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   num_date_time  204000 non-null  object
 1   건물번호           204000 non-null  int64
 2   일시             204000 non-null  object
 3   기온(C)          204000 non-null  float64
 4   강수량(mm)        204000 non-null  float64
 5   풍속(m/s)        204000 non-null  float64
 6   습도(%)          204000 non-null  float64
 7   일조(hr)         204000 non-null  float64
 8   일사(MJ/m2)      204000 non-null  float64
 9   전력소비량(kWh)     204000 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 15.6+ MB

In [ ]:
train["강수량(mm)"] = train["강수량(mm)"].fillna(0)
train["일사(MJ/m2)"] = train["일사(MJ/m2)"].fillna(0)
train["일조(hr)"] = train["일조(hr)"].fillna(0)
train["풍속(m/s)"] = train["풍속(m/s)"].fillna(method='bfill')
train["습도(%)"] = train["습도(%)"].fillna(method='bfill')

In [ ]:
train.head()

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),month,day,time
0,1_20220601 00,1,20220601 00,18.6,0.0,0.9,42.0,0.0,0.0,1085.28,6,1,0
1,1_20220601 01,1,20220601 01,18.0,0.0,1.1,45.0,0.0,0.0,1047.36,6,1,1
2,1_20220601 02,1,20220601 02,17.7,0.0,1.5,45.0,0.0,0.0,974.88,6,1,2
3,1_20220601 03,1,20220601 03,16.7,0.0,1.4,48.0,0.0,0.0,953.76,6,1,3
4,1_20220601 04,1,20220601 04,18.4,0.0,2.8,43.0,0.0,0.0,986.40,6,1,4

In [ ]:
train.corr()

<ipython-input-35-0bc27f030cd9>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train.corr()

,건물번호,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),month,day,time
건물번호,1.000000e+00,-0.004505,-0.004135,0.021444,0.022985,0.017324,-0.009030,-0.180474,-2.790756e-14,3.608018e-15,-3.480358e-15
기온(C),-4.504794e-03,1.000000,-0.068643,0.220207,-0.389883,0.419242,0.463308,0.171190,4.271998e-01,6.949836e-02,2.914288e-01
강수량(mm),-4.134622e-03,-0.068643,1.000000,0.048086,0.199566,-0.100483,-0.099372,0.015083,4.343621e-02,2.710738e-02,1.372893e-02
풍속(m/s),2.144447e-02,0.220207,0.048086,1.000000,-0.219104,0.167932,0.225494,0.109960,-8.632019e-02,1.001827e-01,1.771174e-01
습도(%),2.298525e-02,-0.389883,0.199566,-0.219104,1.000000,-0.572446,-0.561243,-0.129545,2.539006e-01,1.184330e-01,-2.806107e-01
일조(hr),1.732413e-02,0.419242,-0.100483,0.167932,-0.572446,1.000000,0.764701,0.094748,-4.952327e-02,-7.541481e-02,1.597529e-01
일사(MJ/m2),-9.029883e-03,0.463308,-0.099372,0.225494,-0.561243,0.764701,1.000000,0.177750,-3.801214e-02,-5.684107e-02,1.529886e-01
전력소비량(kWh),-1.804737e-01,0.171190,0.015083,0.109960,-0.129545,0.094748,0.177750,1.000000,5.584234e-02,9.233027e-03,9.959427e-02
month,-2.790756e-14,0.427200,0.043436,-0.086320,0.253901,-0.049523,-0.038012,0.055842,1.000000e+00,-1.333186e-01,-8.672975e-17
day,3.608018e-15,0.069498,0.027107,0.100183,0.118433,-0.075415,-0.056841,0.009233,-1.333186e-01,1.000000e+00,2.210557e-17
time,-3.480358e-15,0.291429,0.013729,0.177117,-0.280611,0.159753,0.152989,0.099594,-8.672975e-17,2.210557e-17,1.000000e+00

In [ ]:
train['month'] = train['일시'].apply(lambda x : int(x[4:6]))
train['day'] = train['일시'].apply(lambda x : int(x[6:8]))
train['time'] = train['일시'].apply(lambda x : int(x[9:11]))

In [ ]:
test['month'] = test['일시'].apply(lambda x : int(x[4:6]))
test['day'] = test['일시'].apply(lambda x : int(x[6:8]))
test['time'] = test['일시'].apply(lambda x : int(x[9:11]))

In [ ]:
train_x = train.drop(columns=['num_date_time', '일시', '일조(hr)', '일사(MJ/m2)'])
train_y = train['전력소비량(kWh)']

In [ ]:
test_x = test.drop(columns=['num_date_time', '일시'])

In [ ]:
train_x.corr()

,건물번호,기온(C),강수량(mm),풍속(m/s),습도(%),전력소비량(kWh),month,day,time
건물번호,1.000000e+00,-0.004505,-0.004135,0.021444,0.022985,-0.180474,-2.790756e-14,3.608018e-15,-3.480358e-15
기온(C),-4.504794e-03,1.000000,-0.068643,0.220207,-0.389883,0.171190,4.271998e-01,6.949836e-02,2.914288e-01
강수량(mm),-4.134622e-03,-0.068643,1.000000,0.048086,0.199566,0.015083,4.343621e-02,2.710738e-02,1.372893e-02
풍속(m/s),2.144447e-02,0.220207,0.048086,1.000000,-0.219104,0.109960,-8.632019e-02,1.001827e-01,1.771174e-01
습도(%),2.298525e-02,-0.389883,0.199566,-0.219104,1.000000,-0.129545,2.539006e-01,1.184330e-01,-2.806107e-01
전력소비량(kWh),-1.804737e-01,0.171190,0.015083,0.109960,-0.129545,1.000000,5.584234e-02,9.233027e-03,9.959427e-02
month,-2.790756e-14,0.427200,0.043436,-0.086320,0.253901,0.055842,1.000000e+00,-1.333186e-01,-8.672975e-17
day,3.608018e-15,0.069498,0.027107,0.100183,0.118433,0.009233,-1.333186e-01,1.000000e+00,2.210557e-17
time,-3.480358e-15,0.291429,0.013729,0.177117,-0.280611,0.099594,-8.672975e-17,2.210557e-17,1.000000e+00

In [ ]:
test_x

       건물번호  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  month  day  time
0         1   23.5      0.0      2.2     72      8   25     0
1         1   23.0      0.0      0.9     72      8   25     1
2         1   22.7      0.0      1.5     75      8   25     2
3         1   22.1      0.0      1.3     78      8   25     3
4         1   21.8      0.0      1.0     77      8   25     4
...     ...    ...      ...      ...    ...    ...  ...   ...
16795   100   22.5      0.0      0.9     84      8   31    19
16796   100   20.7      0.0      0.4     95      8   31    20
16797   100   20.2      0.0      0.4     98      8   31    21
16798   100   20.1      0.0      1.1     97      8   31    22
16799   100   19.1      0.0      0.1     99      8   31    23

[16800 rows x 8 columns]

In [ ]:
!pip install autogluon

In [ ]:
import os
import pandas as pd
import random
import numpy as np
from autogluon.tabular import TabularDataset, TabularPredictor
import autogluon.core as ag

import warnings
warnings.filterwarnings("ignore")

def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(69)

In [ ]:
train_data = TabularDataset(train_x)
test_data = TabularDataset(test_x)

In [ ]:
label = '전력소비량(kWh)'
eval_metric = 'mape'
time_limit = 3600*6

In [ ]:
#excluded_model_types = ['CAT']
predictor = TabularPredictor(
    label=label, eval_metric=eval_metric
).fit(train_data,
      presets='best_quality',
      #excluded_model_types = excluded_model_types,
      time_limit=time_limit, num_gpus=1)